.view-btn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background: $view-btn-color;
    border: 1px solid $view-btn-color;  
    width: max-content;
    a{
        color: $white; 
    }
}
