:root {
  --hero-background: var(--black);
}

.region-hero {
  background: var(--hero-background);
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: $page-max-width;

  img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    min-height: 260px;
  }

  .carousel-inner {
    overflow: visible;
  }

  .carousel-item {
    display: block;

    .media > div {
      width: 100%;
    }
  }

  .carousel-caption {

    color: var(--white);
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    @include media-breakpoint-down(sm) {
      display: block;
      float: left;
      clear: both;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      transform: none;
      position: relative;
      top: 0;
      left: 0;
    }

    .display-1 {
      padding: 15px 35px;
    }

    .sub-title {
      background: var(--secondary);
      display: block;
      font-size: 2.2rem;
      font-weight: 400;
      letter-spacing: 0.4rem;
      line-height: 1;
      margin: auto;
      padding: 0.6rem 2.5rem 1.2rem;
      width: fit-content;
      -webkit-font-smoothing: antialiased;

      .bullet::after {
        content: '•';
        display: inline-block;
        font-size: 1.4em;
        margin: 0 0.75rem;
        position: relative;
        top: 0.1em;
      }

      .diamond::after {
        content: '';
        display: inline-block;
        background-image: url("../images/diamond.svg");
        background-position: center;
        background-repeat: no-repeat;
        font-weight: 600;
        margin-right: 0.7rem;
        vertical-align: middle;
        width: 4rem;
        height: 1.3rem;
        opacity: 0.5;

        @include media-breakpoint-down(sm) {
          margin-right: 0;
          height: 1.2rem;
        }

        @media (max-width: 1200px) {
          height: 1.2rem;
        }

        @media (max-width: 1000px) {
          height: 1rem;
        }
      }
    }

    @media (max-width: 1000px) {
      margin-bottom: 50px;

      .display-1 {
        font-size: 4rem;
        padding: 10px 20px;
      }

      .sub-title {
        font-size: 1.7rem;
        letter-spacing: 0.3rem;
      }
    }

    @media (max-width: 900px) {
      margin-bottom: 50px;

      .display-1 {
        font-size: 3.6rem;
      }

      .sub-title {
        font-size: 1.4rem;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;

      .display-1 {
        font-size: 2.4rem;
      }

      .sub-title {
        letter-spacing: 0.5px;
        width: auto;
      }
    }
  }
}
