.icon-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;

  & > * {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin: 0 $spacer / 2;
    text-align: center;
    width: 25rem;

    .media {
      margin: $spacer / 2 0;

      svg {
        @extend .icon-large;
      }
    }

    @media (max-width: 800px) {
      width: 16rem;
    }
  }

  a {
    color: var(--black);
  }

  img {
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    margin-top: -$spacer;
    margin-left: auto;
    margin-right: auto;
    width: 32rem;

    & > * {
      margin-top: $spacer;
      width: 13rem;
    }
  }
}
