.btn {
  border-radius: 5rem;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-primary a {
  color: #fff;
  text-decoration: none;
}
