.form-group {
  margin: 1.8rem 0;
}

.form-item {
  label {
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
  }
}

.form-control {
  font-size: 1.8rem;
}

.js-form-type-checkbox {
  padding-left: 1.25rem;

  label {
    font-size: 1.8rem;
    margin-left: 0.5rem;
    text-transform: none;
  }
}

.form-item-test-optio {
  margin: 0;
  overflow: hidden;
  height: 0;
}
