.region-top {
  background: #fff;

  a {
    color: #000;
    text-decoration: none !important;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      &.px-5 {
        padding-left: $spacer * 2 !important;
        padding-right: $spacer * 2 !important;
      }

      &.ml-5 {
        margin-left: $spacer * 2 !important;
      }

      &.mr-5 {
        margin-right: $spacer * 4 !important;
      }
    }
  }
}
