/* Override Bootstrap variables here */

$font-family-base: 'Open Sans', sans-serif;
$font-weight-base: 400;
$line-height-base: 1.8;

$spacer: 40px;
$headings-font-weight: 300;
$link-color: #717171;
$body-color: #6c6a66;
