.container {
  margin: auto;
  padding-left: $spacer;
  padding-right: $spacer;
  max-width: $container-max-width;

  @media (max-width: 767px) {
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
  }
}

.layout {

  &-narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

  .layout__region {
    padding: 0 $spacer / 2;

    &--first {
      padding-left: 0;
    }

    &--last {
      padding-right: 0;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      flex-basis: 100% !important;

      & + .layout__region {
        margin-top: $spacer;
      }
    }
  }

  &--onecol {
    .layout__region {
      padding: 0;
    }
  }

  .block {
    padding: 0 !important;
  }
}
