.webform-submission-form {

  label {
    font-family: $font-family-sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
}
