$btn-border-radius: 100rem;
$font-family-sans-serif: 'Jost', sans-serif;
$font-family-serif: 'Playfair Display', serif;
$font-size-base: 1.6rem;
$grid-gutter-width: 50px;
$headings-font-family: $font-family-serif;
$headings-font-weight: 500;
$paragraph-margin-bottom: 1.8rem;
$input-btn-padding-y: .375rem !default;
$input-btn-padding-x: 1.25rem;
$spacer: 25px;
