.webform-submission-form {
  margin: 0 auto;
  padding: 80px 15px 160px;
  max-width: 1140px;

  .form-checkboxes {
    margin-bottom: 1rem;

    .form-group {
      margin-bottom: 0;
      padding-left: 1.4rem;
    }
  }
}
