#block-summer-wcag-local-tasks {
  padding: 15px;
}

#block-triptych .card {
  margin: 0 auto;
  max-width: 24rem;
}

.path-user #block-summer-wcag-content {
  @extend .container;
  padding: 80px 15px 160px !important;
}

.optio-covid19-button {
  margin-top: 0 !important;
}
