$border-radius: 0;
$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-family-serif: 'Noto Serif', serif;
$font-size-h1: 36px;
$grid-gutter-width: 50px;
$headings-font-family: $font-family-serif;
$headings-font-weight: 400;

$container-max-widths: (
  sm: 1140px,
  md: 1140px,
  lg: 1140px,
  xl: 1140px,
  xxl: 1140px
);
