@charset "UTF-8";
/* CSS Document */

/* Grid
-------------------------------------
Width: 1200
Column Width: 55
Columns: 16
Gutter: 20
*/

.one-column {
    float:left;
    margin-left:.833333333333%;
/* 10/1200 */
    margin-right:.833333333333%;
/* 10/1200 */
    width:4.583333333333%
/* 55/1200 */
}

.two-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:10.833333333333%;
    width:15%
/* 130/1200 */
}

.three-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:17.083333333333%
/* 205/1200 */
}

.four-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:23.33333333333333%
/* 280/1200 */
}

.five-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:29.58333333333333%;
/* 355/1200  */
}

.six-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:35.83333333333333%
/* 430/1200  */
}

.seven-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:42.08333333333333%
/* 505/1200  */
}

.eight-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:48.33333333333333%
/* 580/1200  */
}

.nine-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:54.58333333333333%
/* 655/1200  */
}

.ten-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:60.83333333333333%
/* 730/1200  */
}

.eleven-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:67.08333333333333%
/* 805/1200  */
}

.twelve-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:73.33333333333333%
/* 880/1200 */
}

.thirteen-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:79.58333333333333%
/* 955/1200  */
}

.fourteen-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:85.83333333333333%
/* 1030/1200  */
}

.fifteen-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:92.083333333333%
/* 1105/1200  */
}

.sixteen-column {
    float:left;
    margin-left:.833333333333%;
    margin-right:.833333333333%;
    width:98.333333333333%
/* 1180/1200  */
}




