@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'alert';
@import 'block';
@import 'bottom';
@import 'button';
@import 'callouts';
@import 'card-carousel';
@import 'clip';
@import 'decoration';
@import 'fonts';
@import 'footer';
@import 'form';
@import 'header';
@import 'hero';
@import 'icon';
@import 'layout';
@import 'list';
@import 'map';
@import 'media';
@import 'nav';
@import 'optio';
@import 'page';
@import 'random';
@import 'review';
@import 'services';
@import 'sidebar';
@import 'table';
@import 'typography';

html, body {
  font-size: 10px;
}

body {
  color: var(--page-foreground);
  font-size: 1.8rem;
}

.dialog-off-canvas-main-canvas {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nobr {
  white-space: nowrap;
}
