:root {
  --alert-background: var(--primary);
  --alert-foreground: var(--white);
}

.alert {
  margin-bottom: $spacer * 2;
  padding: $spacer;

  &-dismissible .close {
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }

  ul {
    margin-bottom: 0;
  }
}

.region-alert {
  background-color: var(--alert-background);
  padding-bottom: 1rem;

  a {
    color: var(--alert-foreground) !important;
    display: block;
    padding: 0 $spacer;
    text-align: center;
  }
}
