.region-content {
  margin: $spacer * 3 auto;
  padding: 0 40px;
  max-width: $container-max-width;

  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    margin: 50px auto;
  }
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: $container-max-width;

  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}

.layout-overflow-image {
  margin-top: 16rem;
  margin-bottom: 16rem;

  .media {
    margin-top: -8rem;
    margin-bottom: -8rem;
  }

  @include media-breakpoint-down(sm) {
    margin: 0;

    .media {
      margin: $spacer 0;
    }
  }
}

.layout-narrow {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 925px;
}

.layout-2-columns {
  column-count: 2;
  column-gap: $spacer;

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}

.layout-masonry {
  column-count: 4;
  column-gap: 3rem;

  figure {
    break-inside: avoid-column;
    margin-bottom: 2rem;
  }

  figcaption {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  @include media-breakpoint-down(lg) {
    column-count: 3;
  }

  @include media-breakpoint-down(md) {
    column-count: 2;
  }

  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}
