.media {

  &.align-center {
    align-items: center;
    justify-content: center;
  }

  &.w-100 {
    justify-content: stretch;

    div {
      flex-grow: 1;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &.btn {
    display: inline-block;

    a {
      color: inherit !important;
      text-decoration: none;
    }
  }

  &.text-link {
    display: block;
    margin: 0.5rem 0;

    &::after {
      content: none;
    }

    a {
      @extend .text-link;
    }
  }

  svg, img {
    max-width: 100%;
    height: auto;
  }
}
