:root {
  --body-font-family: 'Montserrat', sans-serif;
  --headings-font-family: 'Montserrat', sans-serif;
  --headings-font-weight: 700;
}

$btn-border-radius: 100rem;
$font-family-sans-serif: var(--body-font-family);
$font-size-base: 1.6rem;
$grid-gutter-width: 50px;
$font-family-base: var(--body-font-family);
$headings-font-family: var(--headings-font-family);
$headings-font-weight: var(--headings-font-weight);
$paragraph-margin-bottom: 1.8rem;
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 3rem;
$spacer: 25px;
$container-max-width: 1440px;
$color-black: black;
$light-ash: #f7f7f7;
