{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <section{{ attributes.addClass(classes) }}>
    <div class="region-inner">
      {{ content }}
    </div>
  </section>
{% endif %}
